@font-face {
    font-family: "Norse";
    src: url(resources/Norse-Bold.otf);
}

body {
    margin: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

main {
    display: flex;
}

main > div {
    /* width: 62.5rem; */
    background-image: url(resources/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

#logo {
    display: flex;
    height: 15.625rem;
    background-color: hsla(0, 0%, 0%, 0.5);
    padding: 1.875rem;
    align-items: center;
    justify-content: center;
    margin-top: 12.5rem;
}

#logo img {
    height: 100%;
}

#logo h1 {
    color: white;
    font-size: 10rem;
    font-family: "Norse";
}

#logo + span {
    align-self: center;
    margin-bottom: 0.875rem;
    color: white;
}

span > a {
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
}

fieldset {
    appearance: none;
    border: none;
    background-color: lightblue;
    margin: 0;
    padding: 80px 40px 30px 40px;
    position: relative;
    width: 100%;
}

legend {
    position: absolute;
    top: 30px;
    font-size: 1.5rem;
    /* font-weight: 600; */
}

fieldset > div {
    display: grid;
    grid-template-columns: auto auto;
}

label {
    display: block;
}

form h2 {
    margin: 0 40px 50px 40px;
}

form > p {
    margin: 50px 40px 0 40px;
}

button {
    margin: 40px 40px 0 40px;
    width: fit-content;
    font-size: inherit;
    padding: 15px 50px;
    border: none;
    border-radius: 7px;
    background-color: #596D48;
    color: white;
    font-weight: bold;
}