@font-face {
    font-family: "Norse";
    src: url(resources/Norse-Bold.otf);
}

body {
    margin: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

main {
    display: flex;
}

main > div {
    width: 62.5rem;
    background-image: url(resources/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#logo {
    display: flex;
    height: 15.625rem;
    background-color: hsla(0, 0%, 0%, 0.5);
    padding: 1.875rem;
    align-items: center;
    justify-content: center;
    margin-top: 12.5rem;
}

#logo img {
    height: 100%;
}

#logo h1 {
    color: white;
    font-size: 10rem;
    font-family: "Norse";
}

#logo + span {
    align-self: center;
    margin-bottom: 0.875rem;
    color: white;
}

span > a {
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}